# ignore everything in the root directory
/*
# allow .gitignore
!.gitignore

!/nvim/

!/i3/
!/i3status/

# XXX: set ZDOTDIR, preferably somewhere global (such as /etc/zsh/zshenv)
!/zsh/

!/rofi/

!/git/
